<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="PowerShellCgiHandler"
        path="*.ps1"
        verb="POST"
        modules="CgiModule"
        scriptProcessor="C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe|-NoProfile -NonInteractive -ExecutionPolicy Bypass -File &quot;%s&quot;"
        resourceType="File"
        requireAccess="Script" />
    </handlers>

    <security>
      <authentication>
        <anonymousAuthentication enabled="false" />
        <windowsAuthentication enabled="true" />
      </authentication>
      <authorization>
        <clear />
        <add accessType="Allow" users="TFG\Administrator" />
        <add accessType="Allow" roles="TFG\GG-Portal-AD-Admins" />
        <add accessType="Deny" users="*" />
      </authorization>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <defaultDocument enabled="false" />
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
